In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# pd.set_option('display.max_columns', 85)
# pd.set_option('display.max_rows', 85)
pd.set_option('display.width', 200)

In [2]:
col_names = ['fLength', 'fWidth', 'fSize', 'fConc', 'fConc1', 'fAsym', 'fM3Long', 'fM3Trans', 'fAlpha', 'fDist', 'class']

df = pd.read_csv('magic04.data', names=col_names)
df.head(2)

   fLength   fWidth   fSize   fConc  fConc1    fAsym  fM3Long  fM3Trans   fAlpha     fDist class
0  28.7967  16.0021  2.6449  0.3918  0.1982  27.7004  22.0110   -8.2027  40.0920   81.8828     g
1  31.6036  11.7235  2.5185  0.5303  0.3773  26.2722  23.8238   -9.9574   6.3609  205.2610     g

In [3]:
assert (
    df[:1]                                              # get 1st row
    .pipe(lambda _df: print(_df[:1], '\n') or _df)      # print 1st row as a series
    .squeeze()                                          # remove one dimension df -> series
    .pipe(lambda _df: print(_df) or _df)                # print the series
    .name == df.iloc[0].name                            # compare the name of the series with the index of the source row
)

   fLength   fWidth   fSize   fConc  fConc1    fAsym  fM3Long  fM3Trans  fAlpha    fDist class
0  28.7967  16.0021  2.6449  0.3918  0.1982  27.7004   22.011   -8.2027  40.092  81.8828     g

fLength     28.7967
fWidth      16.0021
fSize        2.6449
fConc        0.3918
fConc1       0.1982
fAsym       27.7004
fM3Long      22.011
fM3Trans    -8.2027
fAlpha       40.092
fDist       81.8828
class             g
Name: 0, dtype: object